*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: #EAEFEF;
    justify-content: center;
    text-align: center;
}
body{
    background-color: #333446;
    
}
.heading{
    background-color: #7F8CAA;
    height: 4rem;
    font-size: 3vw;
    line-height: 4rem;
    text-align: center;
}

.userChoices{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 2rem;
}

.choice1, .choice2, .choice3{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    align-self: center;
}

.choice1:hover, .choice2:hover, .choice3:hover{
    img{
        border: 0.3rem solid black;
    }
}

img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    align-self: center;
    /* border: 0.3rem solid black; */
}

.scoreboard{
    display: flex;
    margin-top: 8rem;
    gap: 5rem;
    text-align: center;
}

#userScore, #compScore{
    font-size: x-large;
    color: orange;
}

.userScores, .compScores{
    font-size: larger;
}

#resultxt{
    font-size: xx-large;
    margin-top: 4rem;
    background-color: rgb(227, 161, 37);
    padding: 1rem;
    display: inline-flex;
    border-radius: 20%;
}

.selectedChoice{
    justify-content: center;
    background-color: #B8CFCE;
    width: 400px;
    height: 320px;
    display: flex;
    border-radius: 8%;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: larger;
    display: none;
}

#selectedResult{
    margin-top: 0;
    display: flex;
}

#userSelected, #compSelected{
    margin-top: 10px;
}

.userSelected, .compSelected{
    color: #333446;
}

.selResult1{
    margin-top: 4rem;
    background-color: rgb(227, 161, 37);
    padding: 1rem;
    display: inline-flex;
    border-radius: 20%;
}